html {
	height: 100%;
}

body {
	height: 100%;
	padding: 50px 1% 0 0;
	background-image: url("../images/1.jpg");
}

nav, .navbar {
	height: 5%;
	margin-bottom: 0;
	color: #F99E28;
	background-color: #6C6C6C;
	border-bottom: 5px solid #F99E28;
	padding-top: 2px;
}

h1 {
	margin: 0;
}

#actionPanel {
	position: relative;
	height: 100%;
}

.map-container{
    position: relative;
    height: 100%;
    border: 4px solid #F99E28;
}
.map-container .map-canvas{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#actionRow {
	height: 100%;
	width: 100%;
	margin: 0;
}

#mapColumn {
	height: 100%;
	padding: 1% 0 1% 1%;
}

#infoPane {
	height: 100%;
	padding: 1% 0 1% 1%;
}

#search {
	width: 100%;
}

.carIcon {
	text-align: center;
	background-color: white;
	width: 0;
	padding: .5em;
}

#mapSearch {
	display: table;
}

#mapSearch input {
	border: none;
	border-radius: 0;
}

#mapSearch tr {
	display: table-row;
}

#mapSearch td {
	display: table-cell;
}

#switch {
	text-align: center;
	background-color: white;
}

.origin {
	border-bottom: 2px solid gray;
}

table {
	display: block;
	height: 100%;
	overflow: auto;
	width: 100%;
	margin-bottom: 0;
	border-collapse: collapse;
	padding: 1%;
}

thead, thead tr, thead tr td{
	display: block;
}

.info {
	border: 4px solid #F99E28;
}

#directionsTbody, #directionsTr, #directionsTD {
	display: block;
	width: 100%;
}


.adp-directions {
	display: table;
}

.outlook {
	display: table;
}

.outlook td {
	display: table-cell;
}

table {
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.5);
}

.wi {
	color: #F99E28;
}

.weatherBox {
	width: 350px;
	background-color: white;
}

.weatherBoxTitle {
	border-bottom: 3px solid #F99E28;
}

.weatherInfoContainer {
	padding: 1%;
}

.prominentWeather {
	font-size: 5em;
}

.bottom {
	border-top: 2px solid gray;
}

.detailWeather {
	text-align: left;
}

.alert {
	text-align: left;
}

.weatherBoxTitleSpace {
	padding-left: 25%;
}

.weatherBox table{
	display: table;
	text-align: center;
}

.toggleSteps {
	color: #0000EE;
	font-weight: bold;
}
